.animate.slide.ng-hide-remove-active,
.animate.slide.ng-hide-add-active {
  -webkit-transition: 0.5s all ease;
  position: relative;
}
.animate.slide.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.animate.slide.ng-hide-remove {
  transform: translateX(20%);
  -ms-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -webkit-transform: translateX(20%);
  opacity: 0.5;
}
.animate.slide.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.animate.slide.ng-hide-add.ng-hide-add-active {
  transform: translateX(20%);
  -ms-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -webkit-transform: translateX(20%);
  opacity: 0.5;
}
.animate.slide.ng-hide-add {
  display: none !important;
}
.animate.fade-in.ng-hide-remove-active,
.animate.fade-in.ng-hide-add-active {
  -webkit-transition: 0.5s all ease;
  position: relative;
}
.animate.fade-in.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.animate.fade-in.ng-hide-remove {
  opacity: 0;
}
.animate.fade-in.ng-hide-add {
  opacity: 1;
}
.animate.fade-in.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.animate.fade-in.ng-hide-add {
  display: none !important;
}
.animate.fade-in-out.ng-hide-remove-active,
.animate.fade-in-out.ng-hide-add-active {
  -webkit-transition: 0.5s all ease;
  position: relative;
}
.animate.fade-in-out.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.animate.fade-in-out.ng-hide-remove {
  opacity: 0;
}
.animate.fade-in-out.ng-hide-add {
  opacity: 1;
}
.animate.fade-in-out.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.animate.zoom.ng-hide-remove-active,
.animate.zoom.ng-hide-add-active {
  -webkit-transition: 0.5s all ease;
  position: relative;
}
.animate.zoom.ng-hide-remove.ng-hide-remove-active {
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-filter: opacity(100%);
  -moz-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
}
.animate.zoom.ng-hide-remove {
  transform: translateZ(-250px);
  -ms-transform: translateZ(-250px);
  -moz-transform: translateZ(-250px);
  -webkit-transform: translateZ(-250px);
  -webkit-filter: opacity(10%);
  -moz-filter: opacity(10%);
  -o-filter: opacity(10%);
  -ms-filter: opacity(10%);
}
.animate.zoom.ng-hide-add {
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-filter: opacity(100%);
  -moz-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
}
.animate.zoom.ng-hide-add.ng-hide-add-active {
  transform: translateZ(-250px);
  -ms-transform: translateZ(-250px);
  -moz-transform: translateZ(-250px);
  -webkit-transform: translateZ(-250px);
  -webkit-filter: opacity(10%);
  -moz-filter: opacity(10%);
  -o-filter: opacity(10%);
  -ms-filter: opacity(10%);
}
.animate.zoom.ng-hide-add {
  display: none !important;
}
.wizard-container {
  background-color: #e7e7e7;
}
.wizard-container .wizard-main {
  padding: 20px;
}
.wizard-container .wizard-main .pager i {
  -webkit-transition: all 0.3s ease;
}
.wizard-container .wizard-main .pager i.selected {
  color: #38a7e2;
  -webkit-transform: translateY(-3px);
}
.wizard-container .wizard-main .pager i.disabled {
  color: gray;
  cursor: not-allowed;
}
.wizard-container .wizard-main .wizard-step-container {
  overflow-x: hidden;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.wizard-container .wizard-main .wizard-step {
  background-color: white;
  padding: 15px;
  box-shadow: gray 5px 10px 30px;
  display: block;
}
.wizard-container .wizard-sidebar {
  margin-top: 65px;
  margin-bottom: 30px;
  background-color: white;
}
.wizard-container .wizard-sidebar .progress {
  margin: 0;
}
.wizard-container .wizard-sidebar li.active a {
  margin-left: 15px;
}
.wizard-container .wizard-sidebar li a {
  -ms-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}
.wizard-container .btn.submit {
  margin-bottom: 5px;
}
.wizard-container .btn.submit i.ng-hide-add {
  display: none;
}
